// Place all the styles related to the Products controller here.
// They will automatically be included in application.css.
// You can use Sass (SCSS) here: https://sass-lang.com/

/* === ADMIN LISTINGS ===*/
.products-admin-wrapper {
  width: 100%;
  min-height: 100vh;

  .products-header {
    display: flex;
    justify-content: space-between;
    align-items: center;

    button {
      border-radius: 20px;
      background: #849af1;
      padding: 10px 20px;
      font-size: 16px;
      outline: none;
      border: none;
      cursor: pointer;
      transition: .2s linear;

      a {
        color: #ffffff !important;
      }

      &:hover {
        background: #5679fd;
      }
    }
  }

  .products-items {
    display: flex;
    flex-direction: row;
    justify-content: center;
    flex-wrap: wrap;
    gap: 50px;
    margin-top: 50px;
  }

  .product-item {
    width: 100%;
    display: flex;
    flex-direction: row;
    gap: 25px;

    img {
      display: block;
      width: 200px;
      height: 200px;
    }

    .content {
      display: flex;
      flex-direction: column;
    }

    .title {
      margin-top: 0;
      color: #000000;
      text-decoration: none;
      font: 400 18px sans-serif;
    }

    .price {
      font: 500 16px sans-serif;
    }

    .controls{
      display: flex;
      flex-direction: column;
      justify-content: flex-start;
      gap: 10px;
      margin-left: auto;
      text-align: left;

      a{
        font-size: 14px;
        font-weight: 500;
        color: #000000;

        &:hover{
          text-decoration: underline;
        }
      }
    }

  }
}
/* === END ADMIN LISTINGS ===*/

/* === PRODUCT SHOW ===*/
.product-full-wrapper{
  display: flex;
  gap: 50px;

  .left{
    display: flex;
    flex-direction: column;

    img{
      width: 450px;
      height: 400px;
    }

    button{
      width: 100%;
      background: #658665;
      color: #fafafa;
      font-size: 16px;
      padding: 10px 15px;

      &:hover{
        opacity: .9;
      }
    }

    .price{
      font-size: 26px;
      text-align: center;
      color: #658665;
    }
  }

  .content{
    .title{
      font-size: 36px;
      line-height: 1;
    }

    .description{
      font-size: 16px;
    }
  }
}
/* === END SHOW PRODUCT ===*/

/* ===  PRODUCT FORM ===*/
.product-form-wrapper{
  width: 100%;
  max-width: 500px;
  margin: 50px auto;
  display: flex;
  flex-direction: column;
  gap: 10px;
  align-items: center;

  .field{
    width: 100%;
  }

  input{
    width: 100%;
    padding: 10px 5px;
    border: 1px solid #e3e3e3;
    text-overflow: ellipsis;
  }

  .field_with_errors{
    &:last-of-type{
      width: 100%;
      input{
        width: 99.5%;
        padding: 10px 0;
      }

      textarea{
        width: 99.1%;
        padding: 10px 0;
      }
    }
  }

  textarea{
    width: 100%;
    height: 150px;
  }

  .actions input{
    border-radius: 20px;
    background: #879ef6;
    color: #fafafa;
    padding: 10px 20px;
    font-size: 16px;
    cursor: pointer;

    &:hover{
      opacity: .9;
    }
  }
}
/* === END PRODUCT FORM ===*/